$def with (role)
<h1>Healthcare Management System Homepage</h1>
Welcome to the brand new online healthcare management system! You are logged in as a $role <br>
Please select an action below, and don't forget to logout when you are done!

<br><br>
$if role == 'patient':
	<a href="selDoc">(Patient) Search and select a Doctor</a><br />
	<a href="getMyRec">(Patient) View my medical records</a><br />
$if role == 'doctor':
	<a href="getPats">(Doctor) View all my patients</a><br />
	<a href="getRec">(Doctor) Get patient's medical records</a><br />
$if role == 'admin':
	<a href="adminSelDoc">(Admin) Add medical record</a><br />
<br>