<form action="/login" method="POST">
    <table id="login">
        <tr>
            <td>User: </td>
            <td><input type="text" name="user"></td>
			<td>Invalid Username! Have you Registered Yet?</td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="password" name="passwd"></td>
			<td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="LOGIN"></td>
        </tr>
    </table>
	Need To Register? <a href="/">Click Here!</a>
</form>