<form action="/register" method="POST">
    <table id="register">
        <tr>
            <td>User: </td>
            <td><input type="text" name="user"></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="password" name="passwd"></td>
        </tr>
		<tr>
			<td>Role: </td>
			<td><input type="text" name="role"></td>
		</tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Register"></td>
        </tr>
    </table>
	Need To Register? <a href="/register">Click Here!</a>
</form>